.ul{
    display: flex;
    justify-content: space-around;
    list-style-type:none;
    list-style:none;
    padding:0;
    margin:0;
}

.Nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:1vh;
}

@media (min-width:500px){
    ul {
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 770px){

    ul {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}