.sideBarContainer{
    margin-top: 1.8vh;
    height: auto;
    width: 100%;
    /* background-image: url(../../images/tipo.png); */
    /* background-position: -22vh bottom; */
    /* background-repeat: no-repeat; */
    border: 1px solid black;
}

.elTipo{
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.frase{
    padding: 1vh;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 770px){
    .elTipo{
        width: 100%;
        height: auto;
    }
}



@media (max-width: 770px){
    .sideBarContainer{
        height: 100%;
        width: 100%;
        border: 1px solid black;
    }
    .frase{
        padding: 1vh;
        font-size: x-large;
        font-family: 'Courier New', Courier, monospace;
    }
}

@media (max-width: 500px){
    .sideBarContainer{
        height: 100%;
        width: 100%;
        border: 1px solid black;
    }
    .frase{
        padding: 1vh;
        font-size: x-large;
        font-family: 'Courier New', Courier, monospace;
    }

}